-Peter Cock <p.j.a.cock@googlemail.com>
-Peter Cock <p.j.a.cock@googlemail.com>    peterc <peterc> 
-Peter Cock <p.j.a.cock@googlemail.com>    peterjc <peterjc@peterjc-desktop.(none)>
-Peter Cock <p.j.a.cock@googlemail.com>    Peter <pjcock@peter-cocks-mac-pro.local>
-Peter Cock <p.j.a.cock@googlemail.com>    Peter <peterjc@peterjc-desktop.(none)>
-Peter Cock <p.j.a.cock@googlemail.com>    Peter Cock <peterjc@peterjc-desktop.(none)>
-Peter Cock <p.j.a.cock@googlemail.com>    Peter Cock <peterjc@Peters-MacBook-Air.local>
-Peter Cock <p.j.a.cock@googlemail.com>    Peter Cock <pjcock@lplinuxdev.scri.sari.ac.uk>
-Peter Cock <p.j.a.cock@googlemail.com>    pcock <pcock@PCOCK3551.sims.scri.sari.ac.uk>
-Peter Cock <p.j.a.cock@googlemail.com>    Peter Cock <pjcock@ppserver.scri.sari.ac.uk>

-Michiel de Hoon <mjldehoon@yahoo.com>
-Michiel de Hoon <mjldehoon@yahoo.com>    mdehoon <mdehoon>
-Michiel de Hoon <mjldehoon@yahoo.com>    mdehoon <mdehoon@anx136.genome.gsc.riken.jp>
-Michiel de Hoon <mjldehoon@yahoo.com>    Michiel de Hoon <mdehoon@michiel-de-hoons-computer.local>
-Michiel de Hoon <mjldehoon@yahoo.com>    Michiel de Hoon <mdehoon@Michiels-MacBook-Pro.local>
-Michiel de Hoon <mjldehoon@yahoo.com>    mdehoon <mjldehoon@yahoo.com>
-Michiel de Hoon <mjldehoon@yahoo.com>    Michiel de Hoon <mdehoon@mad002s-MacBook-Air.local>
-Michiel de Hoon <mjldehoon@yahoo.com>    Michiel de Hoon <mdehoon@tkx260.local>
-Michiel de Hoon <mjldehoon@yahoo.com>    Michiel de Hoon <mdehoon@tkx294.genome.gsc.riken.jp>

-Wibowo Arindrarto <bow@bow.web.id>
-Wibowo Arindrarto <bow@bow.web.id>    Wibowo Arindrarto <w.arindrarto (at) gmail.com>
-Wibowo Arindrarto <bow@bow.web.id>    Wibowo Arindrarto <bow@users.noreply.github.com>

-Jeffrey Chang <jeffrey.t.chang@gmail.com>     jchang <jchang>

-Brad Chapman <chapmanb@50mail.com>
-Brad Chapman <chapmanb@50mail.com>    chapmanb <chapmanb>
-Brad Chapman <chapmanb@50mail.com>    chapmanb <chapmanb@50mail.com>

-Tiago Antao <tiagoantao@gmail.com>
-Tiago Antao <tiagoantao@gmail.com>    tiagoantao <tiagoantao>
-Tiago Antao <tiagoantao@gmail.com>    Tiago Antao <tra@popgen.net>
-Tiago Antao <tiagoantao@gmail.com>    Tiago Antao <tra@junkie.(none)>
-Tiago Antao <tiagoantao@gmail.com>    Tiago Antao <tra@purple.lan>

-Ben Morris <ben@bendmorris.com>

-Carlos Pena <mycalesis@gmail.com>

-Eric Talevich <eric.talevich@gmail.com>
-Eric Talevich <eric.talevich@gmail.com>    Eric Talevich <etal@uga.edu>

-Brandon Invergo <b.invergo@gmail.com>
-Brandon Invergo <b.invergo@gmail.com>    Brandon Invergo <brandon@invergo.net>

-Zheng Ruan <zruan1991@gmail.com>

-Iddo Friedberg <idoerg@gmail.com>
-Iddo Friedberg <idoerg@gmail.com> idoerg <idoerg>

-Kai Blin <kai.blin@biotech.uni-tuebingen.de>
-Kai Blin <kai.blin@biotech.uni-tuebingen.de>   Kai Blin <kblin@biosustain.dtu.dk>
-Kai Blin <kai.blin@biotech.uni-tuebingen.de>   Kai Blin <kai@samba.org>

-Andrew Dalke <dalke>
